include datafaucet/cli/templates/metadata.ignore.yml
include datafaucet/schemas/default.yml
include datafaucet/schemas/top.yml
include datafaucet/schemas/provider.yml
include datafaucet/schemas/resource.yml