traitlets
cookiecutter
numpy
pandas
dask[complete]>=2.9.0
pyarrow
fastparquet
sqlalchemy
s3fs
bokeh
seaborn
HLL
unidecode
faker
requests
ruamel.yaml
jinja2
jsonschema>=3.0.1
ipykernel
python-dotenv
gitpython
kafka-python
python-dateutil
papermill
